{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":4,"column":13},"action":"insert","lines":["<FilesMatch \"\\.(ttf|otf|woff)$\">","<IfModule mod_headers.c>","        Header set Access-Control-Allow-Origin \"*\"","</IfModule>","</FilesMatch>"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":13},"end":{"row":4,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1421185592093,"hash":"09523ce325dfef4984c34e521aa4fc28fa358716"}