@font-face {
  font-family: 'Nevis';
  src: url('../data/font/nevis.eot'); /* IE9 Compat Modes */
  src: url('../data/font/nevis.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  		url('../data/font/nevis.woff2') format('woff2'), /* Super Modern Browsers */
		url('../data/font/nevis.woff') format('woff'), /* Pretty Modern Browsers */
		url('../data/font/nevis.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../data/font/nevis.svg#nevis') format('svg'); /* Legacy iOS */
}

body {
	background: #1D1B1A;
	color: #fff;

	/* Allow mouse dragging. */
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	
	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

	/* Allow canvas to hit the edges of the browser viewport. */
	margin: 0;
}

#screen canvas {
	margin: auto;

	/* Hide the gap for font descenders. */
	display: block;
	
	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

#hidden {
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#game {
	margin: 0 auto;
	min-height: 768px;
	height: 768px;
	max-height: 768px;
	min-width: 1024px;
	width: 1024px;
	max-width: 1024px;
	background: #000;
	overflow: hidden;
}
